.header {
  display: flex;
  background-color: black;
  height: 60px;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
.brandname {
  color: white;
  font-size: 25px;
  font-weight: 600;
}
.searchinput {
  width: 60%;
  height: 28px;
  margin-left: 100px;
}
.search {
  width: 70%;
}
.cartimage {
  background-color: white;
}
